@charset "utf-8";
/* entire document */

* {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-family: "맑은 고딕";
  font-size: 16px;
  background-color: #ffffff;
  color: #333333;
}

#wrap {
  margin: 0 auto;
  padding: 0;
  display: block;
  width: 1000px;
  height: 650px;
}

a {
  text-decoration: none;
  display: block;
}

.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: none;
}

div {
  display: block;
}

/*----------------------- aside -----------------------*/

aside {
  float: left;
  width: 20%;
  height: 100%;
}

aside #hdlogo {
  float: left;
  width: 100%;
  height: 40px;
  background-color: #aa7777;
}

aside #hdnav {
  float: left;
  width: 100%;
  height: 610px;
  background-color: #bb8877;
}

/*----------------------- main -----------------------*/

main {
  float: left;
  width: 80%;
  height: 350px;
}

main #imgSlide {
  float: left;
  width: 100%;
  height: 100%;
  background-color: #cc9977;
}

/*----------------------- section -----------------------*/

section {
  float: left;
  width: 80%;
  height: 200px;
}

section #notice {
  float: left;
  width: 40%;
  height: 100%;
  background-color: #ddaa77;
}

section #gallery {
  float: left;
  width: 30%;
  height: 100%;
  background-color: #eebb77;
}

section #shortcut {
  float: left;
  width: 30%;
  height: 100%;
  background-color: #ffcc77;
}

/*----------------------- footer -----------------------*/

footer {
  float: left;
  width: 80%;
  height: 100px;
}

footer #copy {
  float: left;
  width: 80%;
  height: 100%;
  background-color: #dd9988;
}

footer #link {
  float: left;
  width: 20%;
  height: 100%;
}

#link .SNS {
  float: left;
  width: 100%;
  height: 50%;
  background-color: #ee9999;
}

#link .site {
  float: left;
  width: 100%;
  height: 50%;
  background-color: #ff99aa;
}
